@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* body {
    background: linear-gradient(85deg, #DBBF05 0%, #FB5454 39%, #EA4ACB 56%, #7D56FF 94%, #436EFF 100%);
} */

body {
    background: linear-gradient(90deg, #615ef8fb 0%, #449BFF 43%, #BDBACA 99%);
    font-family: Nunito, serif;
}

p {
    color: aliceblue;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(199, 211, 221);
}


.navbar-light .navbar-nav .nav-link.active {
    color: aqua;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(199, 211, 221);
}

/* .nav-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
} */

/* .nav-photo {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.sidebar {
    color: #262b38;
    background: linear-gradient(85deg, #DBBF05 0%, #FB5454 39%, #EA4ACB 56%, #7D56FF 94%, #436EFF 100%);
}

.card {
    background: linear-gradient(270deg, #714bec 0%, #449BFF 43%, #BDBACA 99%);
    color: rgb(19, 27, 15);
}

.card a {
    text-decoration: none;
    color: rgb(19, 27, 15);
}

.card a:hover {
    color: aliceblue ;
}

.slide-text {
    color: aliceblue ;
    margin: auto auto;
}

.footer-text {
    color: aliceblue ;
    margin: auto auto;
}

footer,
.btn-outline-dark {
    background: linear-gradient(270deg, #DBBF05 0%, #FB5454 39%, #EA4ACB 56%, #7D56FF 94%, #436EFF 100%);

}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

@media (max-width: 750px) {
    .carousel-indicators {
        display: none;     
    }
}